<nav class="panel">
  <div class="panel-heading order-card__heading" role="button" {{action "toggleExpandCollapse"}} aria-role="button">
    <span class="order-card__heading-customer">
      {{#if order.is_takeaway}}
        <span class="tag order-card__heading-badge is-dark">S</span>
      {{/if}}

      {{#if order.hasHighPriceWarning}}
        <span class="tag order-card__heading-badge is-warning">Kč</span>
      {{/if}}

      {{!-- <span class="icon">
        <i class="fas fa-user-circle"></i>
      </span> --}}

      <span class="order-card__customer-name">
        {{order.customer.name}} ({{order.customer.mobile_number}})

        {{#unless hideTimeSlot}}
          &mdash; {{order.orderTimeSlot}}
        {{/unless}}
      </span>
    </span>

    <span class="icon">
      <i class="far fa-angle-{{if order.is_collapsed "down" "up" }}" aria-hidden="true"></i>
    </span>
  </div>

  <div class="order-card__body">
    {{!-- <p class="panel-tabs">
      <a class="is-active">items</a>
      <a>customer</a>
    </p> --}}
    {{#each order.orderItems as |item|}}
      <a class="order-card__item">
        <span>
          {{!-- emoji is "nice-to-have" (in DB part of Category)
            <span class="icon">
              <i class="fas fa-cheeseburger" aria-hidden="true"></i>
            </span>
          --}}
          {{item.quantity}} &times; {{item.title}}
        </span>
        <span class="order-card__item-price">
          {{item.formatted_total_price}}
        </span>
      </a>
    {{/each}}

    <a class="order-card__item order-card__item--total">
      <span>
        Celkem ({{if order.is_takeaway "s sebou" "tady"}})
      </span>
      <span>
        {{order.formattedTotalAmount}}
      </span>
    </a>

    <div class="panel-block order-card__actions">
      {{#if order.isTrashed}}
        <button class="button is-dark is-outlined" {{action "markOrderAsNew"}}>
          <span class="icon is-small">
            <i class="far fa-undo"></i>
          </span>
          <span>Zpět</span>
        </button>
      {{else}}
        <button class="button is-danger {{if order.isNew "is-outlined"}}"  {{action "markOrderAsRejectedOrCancelled"}}>
          <span class="icon">
            <i class={{if order.isNew "far fa-ban" "fas fa-exclamation-circle"}}></i>
          </span>
          <span>Zrušit</span>
        </button>
      {{/if}}

      {{#if order.isNew}}
        <button class="button is-dark is-outlined" {{action "pushOrderDown"}}>
          <span class="icon is-small">
            <i class="far fa-exclamation-circle"></i>
          </span>
          <span>Spozdit o 30 minut</span>
        </button>
      {{/if}}

      {{#if order.isNew}}
        <button class="button is-warning" {{action "markOrderAsOnTheGrill"}}>
          <span class="icon is-small">
            <i class="far fa-hat-chef"></i>
          </span>
          <span>Hodit na grill</span>
        </button>
      {{/if}}

      {{#if order.isOnTheGrill}}
        <div>
          <button class="button is-dark is-outlined" {{action "markOrderAsNew"}}>
            <span class="icon is-small">
              <i class="far fa-undo"></i>
            </span>
            <span>Zpět</span>
          </button>
          <button class="button is-info" {{action "markOrderAsReadyForPickup"}}>
            <span class="icon is-small">
              <i class="far fa-check-circle"></i>
            </span>
            <span>Připraveno na vyzvednutí</span>
          </button>
        </div>
      {{/if}}

      {{#if order.isReadyForPickup}}
        <div>
          <button class="button is-dark is-outlined" {{action "markOrderAsOnTheGrill"}}>
            <span class="icon is-small">
              <i class="far fa-undo"></i>
            </span>
            <span>Zpět</span>
          </button>
          <button class="button is-success" {{action "markOrderAsCompleted"}}>
            <span class="icon is-small">
              <i class="far fa-treasure-chest"></i>
            </span>
            <span>Hotovo</span>
          </button>
        </div>
      {{/if}}

      {{#if order.isCompleted}}
        <button class="button is-dark is-outlined" {{action "markOrderAsReadyForPickup"}}>
          <span class="icon is-small">
            <i class="far fa-undo"></i>
          </span>
          <span>Zpět</span>
        </button>
      {{/if}}
    </div>
  </div>
</nav>
