{{#if orders.length}}
  <div class="feed-time-slot__column-slot" role="button" {{action "toggleExpandCollapse"}} id={{slotId}} aria-role="button">
    <strong>{{title}}</strong>
    <span class="icon">
      {{#if isExpandedAll}}
        <i class="far fa-angle-up" aria-hidden="true"></i>
      {{else}}
        <i class="far fa-angle-down" aria-hidden="true"></i>
      {{/if}}
    </span>

    <div>{{infoLabel}}</div>
  </div>

  <div class="feed-time-slot__column-orders">
    {{#each orders as |order|}}
      <OrderCard @order={{order}} />
    {{/each}}
  </div>
{{/if}}